version: "3.9"
services:
  db:
    image: mysql:8.0
    container_name: tester_db
    environment:
      MYSQL_ROOT_PASSWORD: pl1password
      MYSQL_DATABASE: mydb
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    ports:
      - "3307:3306"

  backend:
    build: ./backend
    container_name: tester_backend
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASS: pl1password
      DB_NAME: mydb
    depends_on:
      - db
    ports:
      - "3000:3000"

  frontend:
    build: ./frontend
    container_name: tester_frontend
    ports:
      - "80:80"
    depends_on:
      - backend
