version: "3.9"

services:
  db:
    image: mysql:8.0
    container_name: pl1-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: int504
      MYSQL_DATABASE: pl1
      TZ: UTC
    volumes:
      - ./database/ddl.sql:/docker-entrypoint-initdb.d/01-ddl.sql
      - ./database/dml.sql:/docker-entrypoint-initdb.d/02-dml.sql
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    networks:
      - app_net

  backend:
    build: ./backend
    container_name: express_backend
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASSWORD: int504
      DB_NAME: pl1
    volumes:
      - ./nginx/ssl:/etc/ssl
    ports:
      - "3443:3443"   # HTTPS backend
    depends_on:
      - db
    networks:
      - app_net

  frontend:
    build: ./frontend
    container_name: nginx_frontend
    depends_on:
      - backend
    networks:
      - app_net

  nginx:
    image: nginx:alpine
    container_name: nginx_proxy
    ports:
      - "80:80"       # redirect to HTTPS
      - "443:443"     # HTTPS TLS1.3
    volumes:
      - ./nginx/ssl:/etc/ssl
      - ./nginx/proxy.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - backend
    networks:
      - app_net

networks:
  app_net:
    driver: bridge
