version: "3.9"

services:
  backend:
    environment:
      NODE_ENV: development
    ports:
      - "3000:3000"

  nginx:
    volumes:
      - ./nginx/proxy.local.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "80:80"
