version: '3.8'

services:

  db:
    image: mysql:8.0
    container_name: tester_db
    environment:
      MYSQL_ROOT_PASSWORD: pl1password
      MYSQL_DATABASE: mydb
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    ports:
      - "3307:3306"
    restart: unless-stopped

  backend:
    build: ./backend
    container_name: tester_backend
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASSWORD: pl1password
      DB_NAME: mydb
      DB_PORT: 3306
      TEAM_CODE: pl1
    depends_on:
      - db
    ports:
      - "3000:3000"
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: tester_frontend
    ports:
      - "80:80"
      - "443:443"
    environment:
      TEAM_CODE: pl1
    volumes:
      - ./nginx/certs:/etc/nginx/certs:ro
      # ให้เลือกทีละอัน:
      # Local:
      - ./frontend/nginx.local.conf:/etc/nginx/conf.d/default.conf:ro
      #
      # Production:
      # - ./frontend/nginx.prod.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - backend
    restart: unless-stopped
