.declared-plan{
    margin: 20px;
}
.declare-form{
    display: flex;
    flex-direction: column;
}

label{
    margin: 10px 0;
}
.ecors-plan-row{
    text-align: center;
}

.ecors-button-declare{
    width: 60px;
    margin: 10px 0;
}

.ecors-dialog{
    padding: 30px;
}