*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body{
    display: flex;
    flex-direction: column;
    background-color: rgb(229, 225, 225);
    height: 100vh;
    font-size: 16px;
}
 
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 10px 0;
    background-color: rgb(31, 31, 153);
    color: white;
    padding: 10px 0px 10px 0px;
    text-align: center;
}

#profile{
    margin-top: 10px;
}
 
.content{
    margin: 10px 20px 10px 20px;
    background-color: white;
    border-radius: 2px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
 
table{
    border-collapse: collapse;
    width: 100%;
}
 
th,td{
    border: 1px solid #ddd; /* เส้นขอบทุกช่อง */
    text-align: center;
    height: 10px;
    font-size: 10px;
    padding: 2px 5px 2px 5px;
}
 
th {
    background-color: #ededed;
}

.ecors-dialog{
    margin: auto;
}

.ecors-button-manage{
    display: flex;
    justify-content: center;
}

.ecors-button-manage a{
    border-radius: 5px;
    background-color: rgb(31, 31, 153);
    padding: 2px 4px; /* เพิ่มช่องว่างรอบคำ */
    text-decoration: none; /* ลบ underline ถ้าอยาก */
    color: white;
}

 